

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-intro {
  text-align: center;
}

.container{
  width: 1080px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.search-bar{
  margin-top: 20px;
  margin-bottom: 20px;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.found {
	fill: #ff4136;
	stroke: #ff4136;
}
	/*Just to ensure the select2 box is "glued" to the top*/
.search {
	width: 100%;
}